* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
}

header {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    margin-bottom: 30px;
    padding: 8px 32px;
    background-color: hsl(0deg 0% 36%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

header .title {
    font-size: 26px;
}

header .account {
    display: flex;
    align-items: center;
}

header .deleteIcon {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    margin-left: 8px;
    vertical-align: bottom;
    height: 24px;
}

header .deleteIcon:hover {
    background-color: red;
    border-radius: 50%;
}


form.create-note {
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 30%);
    padding: 10px;
    position: relative;
}

@media (max-width: 415px) {
    form.create-note {
        width: 320px;
    }
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    resize: none;
}

form.create-note input {
    text-align: center;
}

form.create-note button {
    position: absolute;
    bottom: -20px;
    right: 20px;
    background: #f5ba13;
}

form.create-note button:hover {
    background: #ebaf0a
}

form.login {
    width: 265px;
}

form.login label {
    position: relative;
}

form.login p {
    position: absolute;
    bottom: -32px;
    font-size: 12px;
    color: red;
}

form.login input {
    padding: 10px;
    width: 265px;
    margin-bottom: 25px;
}

form.login input[type="submit"] {
    margin: 16px 0;
    width: 265px;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage a {
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.deletePage {
    text-align: center;
    padding: 26px 65px;
}

.deletePage__buttons {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

@media (max-width: 415px) {
    .deletePage__buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
}

.deletePage__buttons button {
    border: none;
    border-radius: 16px;
    padding: 12px 50px;
}

@media (max-width: 415px) {
    .deletePage__buttons button {
        padding: 12px 50px;
    }
}

.deletePage__buttons--yes:hover{
    background-color: red;
    color: white;
}

@media (max-width: 415px) {
    .deletePage__buttons--yes{
        margin-bottom: 30px;
    }
}

.deletePage__buttons--no:hover{
    background-color: green;
    color: white;
}

.note {
    width: 250px;
    background-color: #fff1c9;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    margin: 16px;
    padding: 10px 10px 34px 10px;
    min-height: 150px;
    position: relative;
    transition: background-color 300ms ease-in-out;
}

.note p {
    white-space: pre-wrap;
}

.note h1 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.note .deleteIcon {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    bottom: 6px;
    right: 5px;
    height: 24px;
}

.note .editIcon {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    bottom: 2px;
    right: 29px;
}

.note button {
    opacity: 0.5;
    /* transition: opacity 200ms ease-in-out; */
}

.note button:hover {
    opacity: 1;
}

.note .deleteIcon:hover {
    color: white;
    opacity: 1;
    background-color: red;
    border-radius: 50%;
}

.note input {
    width: 100%;
}

.note .title {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.note .content {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    width: 100%;
}

.note.noteEditable {
    background-color: #94DAFF;
}