* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
}

header {
    text-align: center;
}

form.create-note {
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    /* border: none; */
    outline: none;
    padding: 4px;
}
